@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
  font-family: "Roboto Mono", monospace;
} */

@font-face {
  font-family: 'riviera';
  src: url('../src/font/RivieraNightsTrial-Ultralight/RivieraNightsTrial-Light.otf') format('opentype');
}

body {
  font-family: 'riviera', sans-serif;
}